

 .numbers {
      span {
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: all 6s ease;
        transform: translateY(0);
        line-height: 1;

        span {
          flex: 0 0 100%;
          height: 100%;
        }
      }
    }


.step-0 {
  top: 450px;
  left: 0px;
  
  @media (min-width: 1024px) {
    top: 550px;
  }
}

.step-1 {
  top: 390px;
  left: 30px;
  
  @media (min-width: 1024px) {
    top: 480px;
    left: 50px;
  }
}

.step-2 {
  top: 330px;
  left: 60px;
  
  @media (min-width: 1024px) {
    top: 410px;
    left: 80px;
  }
}

.step-3 {
  top: 270px;
  left: 30px;
  
  @media (min-width: 1024px) {
    top: 340px;
    left: 50px;
  }
}

.step-4 {
  top: 210px;
  left: 0px;
  
  @media (min-width: 1024px) {
    top: 270px;
  }
}

.step-5 {
  top: 150px;
  left: -30px;
  
  @media (min-width: 1024px) {
    top: 200px;
    left: -50px;
  }
}

.step-6 {
  top: 90px;
  left: -60px;
  
  @media (min-width: 1024px) {
    top: 130px;
    left: -80px;
  }
}

.step-7 {
  top: 30px;
  left: -30px;
  
  @media (min-width: 1024px) {
    top: 60px;
    left: -50px;
  }
}

.step-8 {
  top: -30px;
  left: 0px;
  
  @media (min-width: 1024px) {
    top: -10px;
  }
}


.step-wrapper:last-child .circle {
  background: repeating-linear-gradient(45deg,
      #ffe066,
      #ffe066 10px,
      #ffd700 10px,
      #ffd700 20px);
  border: 2px solid #ffd700;
  box-shadow: 0px 6.75485px 0px rgba(0, 0, 0, 0.2), 0px 6.75485px 0px #e8c500;

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}

.label {
  &.label-today {
    border-color: #4caf50;
    color: #4caf50;
  }
}

.animate-popInOut {
  animation: popIn 0.7s ease-in-out forwards, fadeOut 1s ease-in forwards;
  animation-delay: 0s, 4s;  /* האנימציה השנייה מתחילה אחרי 3 שניות */
}

@keyframes popIn {
  0% { transform: translateX(-50%) scale(0.7); opacity: 1; }
  80% { transform: translateX(-50%) scale(1.2); opacity: 1; }
  100% { transform: translateX(-50%) scale(1); opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}


.animate-tada {
  animation: tada 1s ease-in-out infinite;
}

@keyframes tada {
  from { transform: scale3d(1, 1, 1); }
  10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to { transform: scale3d(1, 1, 1); }
}

.character {
  transition: top 2s ease-in-out, left 2s ease-in-out;
}


.character.moving img {
    /* אנימציה של קפיצה, גדילה וסיבוב */
    animation: jump-and-grow-animation 2s ease-in-out;
}

@keyframes jump-and-grow-animation {
    0% {
        transform: translateY(0) scale(1) rotateZ(0deg);
    }
    50% {
        /* קפיצה לגובה, גדילה פי 6 וסיבוב של 360 מעלות */
        transform: translateY(-100px) scale(6) rotateZ(-360deg); 
    }
    100% {
        /* איפוס גובה, שמירה על גודל וסיבוב בסוף האנימציה */
        transform: translateY(0) scale(1) rotateZ(-360deg); 
    }
}


// :host {
//   display: flex;
//   justify-content: center;
//   font-family: Arial, sans-serif;
// }

// .character.moving img {
//   animation: character-bounce 0.7s ease-in-out;
// }

// .character {
//     /* מאפשר מיקום מוחלט וטרנזיציות חלקות */
//     position: absolute; 
//     transition: transform 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out;
// }

// @keyframes character-bounce {
//   0%, 100% { transform: translateY(0) scale(1); }
//   40% { transform: translateY(-50px) scale(1.1); }
// }



// .tracker-container {
//   border: 15px solid #F4FAF9;
//   width: 500px;
//   background-color: #FFFFFF;
//   border-radius: 20px;
//   padding: 20px 10px;
//   direction: rtl;
// }

// .header {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #B9E757;
//   color: white;
//   padding: 10px 20px;
//   border-radius: 15px;
//   margin-bottom: 30px;


//   h2 {
//     margin: 0;
//     font-size: 1.2rem;
//   }
// }

// .header2 {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   color: rgb(0, 0, 0);
//   padding: 10px 20px;
//   margin-bottom: 30px;



  // .coin-icon {
  //   width: 24px;
  //   margin-left: 8px;
  // }

  // .star {
  //   font-size: 1.5rem;
  //   margin-right: 5px;
  // }


// .pathway {
//   position: relative;
//   height: 600px;
// }

// .step-wrapper {
//   position: absolute;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }



// נוסחה דינמית עבור מיקום ה-steps
// @for $i from 0 through 8 {
//   .step-#{$i} {
//     // הנוסחה עבור top - פשוטה וקבועה
//     top: #{550 - ($i * 70)}px;

//     // נוסחה עבור left - מחקה את הדפוס הגלי הקיים
//     @if $i ==0 or $i ==4 or $i ==8 {
//       left: 0px;
//     }

//     @else if $i ==1 or $i ==3 or $i ==7 {
//       left: #{if($i <= 4, 50px, -50px)};
//     }

//     @else if $i ==2 {
//       left: 80px;
//     }

//     @else if $i ==6 {
//       left: -80px;
//     }

//     @else if $i ==5 {
//       left: -50px;
//     }
//   }
// }



// .circle {
//   width: 59.1px;
//   height: 48.13px;
//   border-radius: 26.8083px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: none;
//   cursor: pointer;
//   position: relative;
//   font-size: 28px;
//   box-shadow: 0px 6.75485px 0px rgba(0, 0, 0, 0.2), 0px 6.75485px 0px #7c3a3a;
//   transition: all 0.15s ease;


//   &.inactive {
//     background-color: #F4FAF9;
//     box-shadow: 0px 6.75485px 0px #BECCCA, 0px 6.75485px 0px #F4FAF9;
//   }

//   &.current {
//     background-color: #20A57D;
//     box-shadow: 0px 6.75485px 0px rgba(0, 0, 0, 0.2), 0px 6.75485px 0px #115540;
//   }

//   &.completed {
//     background-color: #B9E757;
//   }

//   /* אפקט הלחיצה - כניסה פנימה */
//   &:active {
//     transform: translateY(4px);
//     box-shadow: none;
//   }
// }


// .checkmark {
//   color: #679438;
//   font-size: 24px;
//   font-weight: bold;

// }







// .inactive-tooltip {
  // position: absolute;
  // top: -115px;
  // left: 50%;
  // transform: translateX(-50%);
  // background: #F7F7F7;
  // border: 1px solid #AFAFAF;
  // padding: 16px 20px;
  // border-radius: 12px;
  // box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
  // z-index: 4;
  // min-width: 220px;
  // text-align: center;
  // font-size: 1rem;
  // color: #a5a4a4;
// }







// .character img {
//   width: 100%;
//   height: auto;
// }

// .inactive-tooltip button[disabled] {
//   background: #eee;
//   color: #aaa;
//   border: none;
//   padding: 8px 18px;
//   border-radius: 6px;
//   margin-top: 10px;
// }

// .close-tooltip {
//   position: absolute;
//   top: 8px;
//   right: 12px;
//   cursor: pointer;
//   font-size: 1.2em;
//   color: #AFAFAF;
//   z-index: 4;
// }

// .circle-overlay {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // border-radius: 50%;
  // background: rgba(200, 106, 12, 0.12);
  // cursor: pointer;
  // z-index: 4;

// }


//////bouncing coin
// $blue-500: #3b82f6;
// $blue-700: #1d4ed8;
// $gray-50: #f9fafb;

// .container1 {
//   position: relative;
//   display: flex;
//   min-height: 45px;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   overflow: hidden;
// }

// .bouncing-icon {
//   transition: background-color 0.3s ease;
//   animation: bounce 1s infinite;
// }

// @keyframes bounce {

//   0%,
//   100% {
//     transform: translateY(-25%);
//     animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
//   }

//   50% {
//     transform: translateY(0);
//     animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
//   }
// }



/////popup
/// 
/// /* Parent container */
// @mixin flex-center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }





/* קובץ SCSS להוספת סגנונות ואנימציות מותאמות אישית.
  יש לייבא קובץ זה בקובץ ה-SCSS הראשי של הפרויקט.
*/

// הגדרת כל האנימציות הנדרשות (keyframes)






