<div *ngIf="show25PercentMessage" class="fixed inset-0 w-full h-full flex items-center justify-center z-50">
  <div class="relative flex items-center justify-center rounded-[14px] bg-green-600 p-3 z-40">
    <div
      class="w-full rounded-[14px] bg-white pt-5 p-3 flex flex-col items-center justify-center gap-2 text-center relative">
      <div class="absolute -top-8 right-50% w-[30px] h-[30px] rounded-full bg-green-600 text-red-500 animate-tada ">👍
      </div>
      <p class="text-2xl font-bold text-red-500">משה</p>
      <p class="text-base leading-6 text-black font-bold">
        צברת <b>{{score}}</b> נקודות מתוך <b>{{(currentPage * 4) * 50}}</b>
      </p>
      <p class="text-xl font-semibold text-red-500">מלך שאתה</p>
    </div>
  </div>
</div>
<canvas #canvas id="canvas" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 1000;"></canvas>
<div class="border-[15px] border-[#F4FAF9] w-[500px] bg-white rounded-[20px] py-5 px-2.5 rtl">
  <div class="mb-[30px] flex items-center justify-center rounded-[15px] bg-[#B9E757] py-2.5 px-5 text-white">
    <h2 class="m-0 text-xl font-bold">ההתמדה שלי - {{ getPageStepsRange() }}</h2>
  </div>
  <div class="mb-[30px] flex items-center justify-between py-2.5 px-5 text-black">

    <div class="flex h-8 items-center text-2xl gap-1 font-bold text-green-900">
      <img src="../../../assets/img/coin.png" alt="Coin" class="w-6 ml-2 animate-bounce" />
      <span class="numbers relative flex overflow-hidden items-center leading-none" [ymiCountUp]="score"
        [duration]="3000"></span>
      <span>+</span>
    </div>

    <div class="flex h-8 items-center text-2xl gap-1 font-bold text-green-900 text-2xl">
      <span [ymiCountUp]="level" [duration]="100"></span>
      <span>שלב</span>
      <span class="text-2xl mr-[5px] animate-tada">⭐</span>
    </div>
  </div>

  <div class="relative h-[600px]">
    <div class="character absolute z-30 w-[50px] h-[50px]  " [style.top]="characterTop" [style.left]="characterLeft"
      [style.transform]="shouldFlipCharacter ? 'scaleX(-1)' : ''">
      <img src="../../../assets/img/YOMI.png" alt="Character" class="h-auto w-full">
    </div>

    <div *ngFor="let step of steps; let i = index"
      class="step-wrapper absolute flex w-full items-center justify-center   step-{{ i }}" [ngClass]="{
           'top-[550px] left-0': i === 0, 'top-[480px] left-[50px]': i === 1,
           'top-[410px] left-[80px]': i === 2, 'top-[340px] left-[50px]': i === 3,
           'top-[270px] left-0': i === 4, 'top-[200px] left-[-50px]': i === 5,
           'top-[130px] left-[-80px]': i === 6, 'top-[60px] left-[-50px]': i === 7,
           'top-[-10px] left-0': i === 8
         }">
      <div
        class="circle relative flex h-[48.13px] w-[59.1px] cursor-pointer items-center justify-center rounded-[26.8px] border-none text-[28px] transition-all duration-50 active:translate-y-1 active:shadow-none"
        [ngClass]="{
             'bg-[#B9E757] shadow-[0px_6.75px_0px_rgba(0,0,0,0.2),_0px_6.75px_0px_#5B7C3A]': i < currentStepIndex,
             'bg-[#20A57D] shadow-[0px_6.75px_0px_rgba(0,0,0,0.2),_0px_6.75px_0px_#115540]': i === currentStepIndex,
             'bg-[#F4FAF9] shadow-[0px_6.75px_0px_#BECCCA,_0px_6.75px_0px_#F4FAF9]': i > currentStepIndex
           }">
        <span *ngIf="i < currentStepIndex" class="font-bold text-2xl text-[#679438]">✔</span>
        <span *ngIf="step.icon && i >= currentStepIndex">{{ step.icon }}</span>
        <!-- טולטיפ למעגל INACTIVE -->
        <ng-container *ngIf="i > currentStepIndex">
          <div *ngIf="activeTooltipIndex === i"
            class="absolute -top-[138px] left-1/2 z-40 min-w-[220px] -translate-x-1/2 rounded-xl border border-[#AFAFAF] bg-[#F7F7F7] p-4 text-center text-base text-gray-400 shadow-lg">
            השלם את כל השלבים הקודמים כדי לפתוח את זה!
            <button disabled class="mt-2.5 rounded-md border-none bg-gray-200 py-2 px-4 text-gray-400">🔒</button>
            <span class="absolute top-2 right-3 cursor-pointer text-lg text-gray-400 z-40"
              (click)="activeTooltipIndex = null">✖</span>
          </div>
        </ng-container>
        <!-- טולטיפ למעגל CURRENT כשהגיע ל-100% גלילה -->
        <ng-container *ngIf="i === currentStepIndex && i === 4">
          <div
            class="absolute -top-[127px] left-1/2 z-40 min-w-[240px] -translate-x-1/2 animate-popIn rounded-2xl border-2 border-[#84f482] bg-gradient-to-r from-[#B9E757] to-[#b9e757] py-[18px] px-6 text-center text-lg font-bold text-green-800 shadow-lg">
            סיימת את השלבים 1-4 בהצלחה!
            <span class="absolute top-2 right-3 cursor-pointer text-lg text-gray-400 z-40"
              (click)="closeCurrentTooltip()">✖</span>
          </div>
        </ng-container>
        <div *ngIf="i > currentStepIndex" class="absolute top-0 left-0 w-full h-full z-40 cursor-pointer rounded-full"
          (click)="activeTooltipIndex = i"></div>
      </div>

      <span *ngIf="step.label"
        class="absolute left-1/2 translate-x-[30px] whitespace-nowrap rounded-lg border border-gray-300 bg-white py-1 px-3 font-bold"
         [ngClass]="{
             'border-green-500 text-green-500' : i === currentStepIndex,
           }">{{ step.label }}</span>
    </div>
  </div>

  <button (click)="resetLocalStorage()"
    class="absolute bottom-6 left-4 rounded bg-red-500 py-2 px-4 font-bold text-white hover:bg-red-700">אפס התקדמות</button>
</div>