.about {
    font-size: 18px;
    h1.title {
        font-size: 1.7em;
        font-weight: 500;
        margin-bottom: 20px;
    }
    > p {
        margin-bottom: 30px;
    }

    section {
        .btns {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 20px;
        }
    }
}
