<section class="about">
	<!-- <h1 class="title">About Us And Pets..</h1> -->

	<section #some highlight (onContentChange)="handleText($event)">
		<div class="my-img">
			<img src="https://res.cloudinary.com/dv2brrhll/image/upload/v1742938708/evyatar_j0lnsh.png"
				alt="Header icon" class="my-profile" />
		</div>

		<h2>About Me</h2>

		<p>
			Hello, and welcome! My name is Evyatar Shlar, I’m a Full-Stack Web Developer with a passion for building
			intuitive, high-performance web applications. My expertise lies in creating seamless single-page
			applications
			(SPAs) using modern web technologies like Node.js, Vue.js, Vuex, React.js, and Angular. I specialize in
			crafting
			dynamic, scalable solutions that prioritize both functionality and user experience.
		</p>

		<p>
			With a strong foundation in modern JavaScript (ES6), MVC frameworks, and server-side programming, I focus on
			writing clean, efficient code that is both scalable and maintainable. Whether I’m working on a React app,
			building APIs with Node.js, or managing databases with MongoDB, I bring a deep attention to detail and a
			problem-solving mindset to every project I take on.
		</p>

		<p>
			I am not just a developer; I’m a self-motivated, quick learner who adapts easily to new technologies and
			environments. I thrive in collaborative settings and enjoy tackling challenges, whether they involve
			technical
			obstacles or designing solutions that align with users' needs. My professional journey, which includes roles
			in
			B2B sales, bookkeeping, and procurement management, has given me valuable skills in communication, time
			management, and customer service that complement my technical expertise.
		</p>

		<p>
			Check out my latest project, an Airbnb clone I built using React, Node, and MongoDB: <a
				href="https://bestbnb.onrender.com/">Bestbnb</a> Marketplace. It’s a full-fledged e-commerce platform
			that
			showcases my ability to develop end-to-end solutions, from the user interface to the backend.
		</p>

		<p>
			I’m always looking for new opportunities to grow and contribute, and I’m excited to bring my technical
			skills,
			adaptability, and dedication to your team.
		</p>
	</section>

	<section (click)="onPrint()">
		<br />
		<h2>Custom Pipes</h2>
		<p>date-desc: {{ date | dateDesc }}</p>
		<!-- @if (pets) {
		<pet-list [pets]="pets"></pet-list>
		}
		<button evStop (click)="onChangePetName()">change pet name</button>
		<button (click)="onChangePetNameImmutable()">change pet name immutable</button>
		<button (click)="onChangePetNameImmutableDeep()">change pet name immutable deep</button> -->
	</section>

	<!-- @defer (on viewport) {
	<img src="https://picsum.photos/200/300" alt="" />
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
		veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
		. Ea sit accusamus eligendi iste nisi, velit
		assumenda. Facilis ratione deserunt sequi similique cupiditate.
	</p>

	} @placeholder (minimum 2s) {
	<loader-svg></loader-svg>
	} -->
</section>