<section class="about">
	<h1 class="title">About Us And Pets..</h1>
	<p>
		<!-- {{lorem | naturalType}} -->
	</p>
	<section #some highlight (onContentChange)="handleText($event)">
		<br />
		<h2>Pipes</h2>
		<p>greet: {{ greet | slice: 1 : 6 | titlecase }}</p>
		<p>date: {{ birthDate | date: "d/M/yyyy, EEEE, h:mm:ss" }}</p>
		<p>currency: {{ currency | currency: "ILS" }}</p>
	</section>

	<section (click)="onPrint()">
		<br />
		<h2>Custom Pipes</h2>
		<p>date-desc: {{ date | dateDesc }}</p>
		<!-- <p>Fetch Data: {{url|fetchData | json}}</p> -->
		@if (pets) {
			<pet-list [pets]="pets"></pet-list>
		}
		<!-- <pet-list [pets]="pets|filterArr:'name':'pen'"></pet-list> -->
		<button evStop (click)="onChangePetName()">change pet name</button>
		<button (click)="onChangePetNameImmutable()">change pet name immutable</button>
		<button (click)="onChangePetNameImmutableDeep()">change pet name immutable deep</button>
	</section>

	<section>
		<br />
		<!-- <h2>Async Pipe</h2>
    <p>Promise: {{prm|async}}</p>
    <p>Observable: {{obs$|async}}</p> -->
	</section>

	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi veniam
		fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus molestiae
		mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet cumque,
		reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex sit natus
		impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga cupiditate omnis
		est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta odio eveniet ipsa
		tenetur voluptatem saepe corporis error sequi rerum culpa consequatur ipsum doloribus
		exercitationem harum? Rem aut voluptatem placeat necessitatibus, id quaerat iure nostrum
		sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam cupiditate corporis
		molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit assumenda. Facilis
		ratione deserunt sequi similique cupiditate.
	</p>

	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi veniam
		fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus molestiae
		mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet cumque,
		reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex sit natus
		impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga cupiditate omnis
		est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta odio eveniet ipsa
		tenetur voluptatem saepe corporis error sequi rerum culpa consequatur ipsum doloribus
		exercitationem harum? Rem aut voluptatem placeat necessitatibus, id quaerat iure nostrum
		sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam cupiditate corporis
		molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit assumenda. Facilis
		ratione deserunt sequi similique cupiditate.
	</p>
	<p #para>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid debitis accusantium
		inventore et earum quam recusandae a eius necessitatibus veniam, magni minima soluta eaque
		reprehenderit? Error assumenda molestias fugiat hic! Magni atque similique suscipit labore
		voluptates, quasi ad eius facere saepe obcaecati pariatur!
	</p>

	@defer (on viewport) {
		<img src="https://picsum.photos/200/300" alt="" />
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. At officia vitae nisi animi
			veniam fugit sed minima sequi adipisci quaerat, ab ut distinctio repellat accusamus
			molestiae mollitia, doloremque dicta! Quam fuga, saepe cupiditate earum rerum amet
			cumque, reprehenderit dolorem obcaecati fugit deleniti facilis iste officiis sapiente ex
			sit natus impedit aspernatur veniam expedita blanditiis quibusdam? Excepturi fuga
			cupiditate omnis est. Adipisci, delectus nesciunt rem dolor ullam perspiciatis soluta
			odio eveniet ipsa tenetur voluptatem saepe corporis error sequi rerum culpa consequatur
			ipsum doloribus exercitationem harum? Rem aut voluptatem placeat necessitatibus, id
			quaerat iure nostrum sapiente! Debitis, dolorum! Consectetur numquam odit tempore quam
			cupiditate corporis molestiae natus eligendi. Ea sit accusamus eligendi iste nisi, velit
			assumenda. Facilis ratione deserunt sequi similique cupiditate.
		</p>
	} @placeholder (minimum 2s) {
		<loader-svg></loader-svg>
	}
</section>
