.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;



    main {
        flex-grow: 1;
    }

    footer {
        height: 80px;
        display: flex;
        align-items: center;
        color: #222222;
        background: linear-gradient(135deg, #fff176, #ffb74d);
        font-size: 1.2em;
        margin-top: 30px;

    }
}